/*
  BUTTONS DEVELOPER REFERENCE

  Form Size:
  - s = small
  - m = medium
  - lg = large
  - xl = extra large

  Properties Abbreviation:
  - pd = padding
  - mg = margin
  - hori = horizontal
  - vert = vertical
  - bg = background
  - bdr = border
*/

// SMALL
@mixin form_s(
    $width: null,
    $height: null,
    $font-size: null,
    $font-weight: null,
    $bg-color: null,
    $color: null,
    $pd-hori: null,
    $pd-vert: null,
    $mg-hori: null,
    $mg-vert: null,
    $bdr-width: null,
    $bdr-color: null,
    $bdr-style: null,
    $bdr-radius: null,
    $outline: null
) {
    width: if($width, $width, 300px);
    height: if($height, $height, 30px);

    font-size: if($font-size, $font-size, 14px);
    font-weight: if($font-weight, $font-weight, 400);

    background-color: if($bg-color, $bg-color, rgba(206, 103, 154, 0.25));
    color: if($color, $color, black);

    padding-left: if($pd-hori, $pd-hori, 5px);
    padding-right: if($pd-hori, $pd-hori, 0px);
    padding-top: if($pd-vert, $pd-vert, 0px);
    padding-bottom: if($pd-vert, $pd-vert, 0px);

    margin-left: if($mg-hori, $mg-hori, 0px);
    margin-right: if($mg-hori, $mg-hori, 0px);
    margin-top: if($mg-vert, $mg-vert, 5px);
    margin-bottom: if($mg-vert, $mg-vert, 5px);

    border-width: if($bdr-width, $bdr-width, 2px);
    border-color: if($bdr-color, $bdr-color, #ce679a);
    border-style: if($bdr-style, $bdr-style, solid);
    border-radius: if($bdr-radius, $bdr-radius, 5px);

    outline: if($outline, $outline, none);

    &::placeholder {
        font-size: if($font-size, $font-size, 14px);
        font-weight: if($font-weight, $font-weight, 400);

        color: if($color, $color, black);
    }

    cursor: text;
}

// SMALL HOVER
@mixin form_hover_s(
    $width: null,
    $height: null,
    $font-size: null,
    $font-weight: null,
    $bg-color: null,
    $color: null,
    $pd-hori: null,
    $pd-vert: null,
    $mg-hori: null,
    $mg-vert: null,
    $bdr-width: null,
    $bdr-color: null,
    $bdr-style: null,
    $bdr-radius: null,
    $outline: null
) {
    width: if($width, $width, 300px);
    height: if($height, $height, 30px);

    font-size: if($font-size, $font-size, 14px);
    font-weight: if($font-weight, $font-weight, 400);

    background-color: if($bg-color, $bg-color, rgba(206, 103, 154, 0));
    color: if($color, $color, black);

    padding-left: if($pd-hori, $pd-hori, 5px);
    padding-right: if($pd-hori, $pd-hori, 0px);
    padding-top: if($pd-vert, $pd-vert, 0px);
    padding-bottom: if($pd-vert, $pd-vert, 0px);

    margin-left: if($mg-hori, $mg-hori, 0px);
    margin-right: if($mg-hori, $mg-hori, 0px);
    margin-top: if($mg-vert, $mg-vert, 5px);
    margin-bottom: if($mg-vert, $mg-vert, 5px);

    border-width: if($bdr-width, $bdr-width, 2px);
    border-color: if($bdr-color, $bdr-color, #ce679a);
    border-style: if($bdr-style, $bdr-style, solid);
    border-radius: if($bdr-radius, $bdr-radius, 5px);

    outline: if($outline, $outline, none);

    &::placeholder {
        font-size: if($font-size, $font-size, 14px);
        font-weight: if($font-weight, $font-weight, 400);

        color: if($color, $color, black);
    }
}


// MEDIUM
@mixin form_m(
    $width: null,
    $height: null,
    $font-size: null,
    $font-weight: null,
    $bg-color: null,
    $color: null,
    $pd-hori: null,
    $pd-vert: null,
    $mg-hori: null,
    $mg-vert: null,
    $bdr-width: null,
    $bdr-color: null,
    $bdr-style: null,
    $bdr-radius: null,
    $outline: null
) {
    width: if($width, $width, 400px);
    height: if($height, $height, 40px);

    font-size: if($font-size, $font-size, 16px);
    font-weight: if($font-weight, $font-weight, 400);

    background-color: if($bg-color, $bg-color, rgba(206, 103, 154, 0.25));
    color: if($color, $color, black);

    padding-left: if($pd-hori, $pd-hori, 5px);
    padding-right: if($pd-hori, $pd-hori, 0px);
    padding-top: if($pd-vert, $pd-vert, 0px);
    padding-bottom: if($pd-vert, $pd-vert, 0px);

    margin-left: if($mg-hori, $mg-hori, 0px);
    margin-right: if($mg-hori, $mg-hori, 0px);
    margin-top: if($mg-vert, $mg-vert, 5px);
    margin-bottom: if($mg-vert, $mg-vert, 5px);

    border-width: if($bdr-width, $bdr-width, 2px);
    border-color: if($bdr-color, $bdr-color, #ce679a);
    border-style: if($bdr-style, $bdr-style, solid);
    border-radius: if($bdr-radius, $bdr-radius, 8px);

    outline: if($outline, $outline, none);

    &::placeholder {
        font-size: if($font-size, $font-size, 16px);
        font-weight: if($font-weight, $font-weight, 400);

        color: if($color, $color, black);
    }

    cursor: text;
}

// HOVER
@mixin form_hover_m(
    $width: null,
    $height: null,
    $font-size: null,
    $font-weight: null,
    $bg-color: null,
    $color: null,
    $pd-hori: null,
    $pd-vert: null,
    $mg-hori: null,
    $mg-vert: null,
    $bdr-width: null,
    $bdr-color: null,
    $bdr-style: null,
    $bdr-radius: null,
    $outline: null
) {
    width: if($width, $width, 400px);
    height: if($height, $height, 40px);

    font-size: if($font-size, $font-size, 16px);
    font-weight: if($font-weight, $font-weight, 400);

    background-color: if($bg-color, $bg-color, rgba(206, 103, 154, 0));
    color: if($color, $color, black);

    padding-left: if($pd-hori, $pd-hori, 5px);
    padding-right: if($pd-hori, $pd-hori, 0px);
    padding-top: if($pd-vert, $pd-vert, 0px);
    padding-bottom: if($pd-vert, $pd-vert, 0px);

    margin-left: if($mg-hori, $mg-hori, 0px);
    margin-right: if($mg-hori, $mg-hori, 0px);
    margin-top: if($mg-vert, $mg-vert, 5px);
    margin-bottom: if($mg-vert, $mg-vert, 5px);

    border-width: if($bdr-width, $bdr-width, 2px);
    border-color: if($bdr-color, $bdr-color, #ce679a);
    border-style: if($bdr-style, $bdr-style, solid);
    border-radius: if($bdr-radius, $bdr-radius, 8px);

    outline: if($outline, $outline, none);

    &::placeholder {
        font-size: if($font-size, $font-size, 16px);
        font-weight: if($font-weight, $font-weight, 400);

        color: if($color, $color, black);
    }
}


// LARGE
@mixin form_lg(
    $width: null,
    $height: null,
    $font-size: null,
    $font-weight: null,
    $bg-color: null,
    $color: null,
    $pd-hori: null,
    $pd-vert: null,
    $mg-hori: null,
    $mg-vert: null,
    $bdr-width: null,
    $bdr-color: null,
    $bdr-style: null,
    $bdr-radius: null,
    $outline: null
) {
    width: if($width, $width, 500px);
    height: if($height, $height, 50px);

    font-size: if($font-size, $font-size, 18px);
    font-weight: if($font-weight, $font-weight, 500);

    background-color: if($bg-color, $bg-color, rgba(206, 103, 154, 0.25));
    color: if($color, $color, black);

    padding-left: if($pd-hori, $pd-hori, 5px);
    padding-right: if($pd-hori, $pd-hori, 0px);
    padding-top: if($pd-vert, $pd-vert, 0px);
    padding-bottom: if($pd-vert, $pd-vert, 0px);

    margin-left: if($mg-hori, $mg-hori, 0px);
    margin-right: if($mg-hori, $mg-hori, 0px);
    margin-top: if($mg-vert, $mg-vert, 5px);
    margin-bottom: if($mg-vert, $mg-vert, 5px);

    border-width: if($bdr-width, $bdr-width, 2px);
    border-color: if($bdr-color, $bdr-color, #ce679a);
    border-style: if($bdr-style, $bdr-style, solid);
    border-radius: if($bdr-radius, $bdr-radius, 10px);

    outline: if($outline, $outline, none);

    &::placeholder {
        font-size: if($font-size, $font-size, 18px);
        font-weight: if($font-weight, $font-weight, 500);

        color: if($color, $color, black);
    }

    cursor: text;
}

// HOVER
@mixin form_hover_lg(
    $width: null,
    $height: null,
    $font-size: null,
    $font-weight: null,
    $bg-color: null,
    $color: null,
    $pd-hori: null,
    $pd-vert: null,
    $mg-hori: null,
    $mg-vert: null,
    $bdr-width: null,
    $bdr-color: null,
    $bdr-style: null,
    $bdr-radius: null,
    $outline: null
) {
    width: if($width, $width, 500px);
    height: if($height, $height, 50px);

    font-size: if($font-size, $font-size, 18px);
    font-weight: if($font-weight, $font-weight, 500);

    background-color: if($bg-color, $bg-color, rgba(206, 103, 154, 0));
    color: if($color, $color, black);

    padding-left: if($pd-hori, $pd-hori, 5px);
    padding-right: if($pd-hori, $pd-hori, 0px);
    padding-top: if($pd-vert, $pd-vert, 0px);
    padding-bottom: if($pd-vert, $pd-vert, 0px);

    margin-left: if($mg-hori, $mg-hori, 0px);
    margin-right: if($mg-hori, $mg-hori, 0px);
    margin-top: if($mg-vert, $mg-vert, 5px);
    margin-bottom: if($mg-vert, $mg-vert, 5px);

    border-width: if($bdr-width, $bdr-width, 2px);
    border-color: if($bdr-color, $bdr-color, #ce679a);
    border-style: if($bdr-style, $bdr-style, solid);
    border-radius: if($bdr-radius, $bdr-radius, 8px);

    outline: if($outline, $outline, none);

    &::placeholder {
        font-size: if($font-size, $font-size, 18px);
        font-weight: if($font-weight, $font-weight, 500);

        color: if($color, $color, black);
    }
}


// EXTRA LARGE
@mixin form_xl(
    $width: null,
    $height: null,
    $font-size: null,
    $font-weight: null,
    $bg-color: null,
    $color: null,
    $pd-hori: null,
    $pd-vert: null,
    $mg-hori: null,
    $mg-vert: null,
    $bdr-width: null,
    $bdr-color: null,
    $bdr-style: null,
    $bdr-radius: null,
    $outline: null
) {
    width: if($width, $width, 600px);
    height: if($height, $height, 60px);

    font-size: if($font-size, $font-size, 20px);
    font-weight: if($font-weight, $font-weight, 500);

    background-color: if($bg-color, $bg-color, rgba(206, 103, 154, 0.25));
    color: if($color, $color, black);

    padding-left: if($pd-hori, $pd-hori, 5px);
    padding-right: if($pd-hori, $pd-hori, 0px);
    padding-top: if($pd-vert, $pd-vert, 0px);
    padding-bottom: if($pd-vert, $pd-vert, 0px);

    margin-left: if($mg-hori, $mg-hori, 0px);
    margin-right: if($mg-hori, $mg-hori, 0px);
    margin-top: if($mg-vert, $mg-vert, 5px);
    margin-bottom: if($mg-vert, $mg-vert, 5px);

    border-width: if($bdr-width, $bdr-width, 2px);
    border-color: if($bdr-color, $bdr-color, #ce679a);
    border-style: if($bdr-style, $bdr-style, solid);
    border-radius: if($bdr-radius, $bdr-radius, 12px);

    outline: if($outline, $outline, none);

    &::placeholder {
        font-size: if($font-size, $font-size, 20px);
        font-weight: if($font-weight, $font-weight, 500);

        color: if($color, $color, black);
    }

    cursor: text;
}

// HOVER
@mixin form_hover_xl(
    $width: null,
    $height: null,
    $font-size: null,
    $font-weight: null,
    $bg-color: null,
    $color: null,
    $pd-hori: null,
    $pd-vert: null,
    $mg-hori: null,
    $mg-vert: null,
    $bdr-width: null,
    $bdr-color: null,
    $bdr-style: null,
    $bdr-radius: null,
    $outline: null
) {
    width: if($width, $width, 600px);
    height: if($height, $height, 60px);

    font-size: if($font-size, $font-size, 20px);
    font-weight: if($font-weight, $font-weight, 500);

    background-color: if($bg-color, $bg-color, rgba(206, 103, 154, 0));
    color: if($color, $color, black);

    padding-left: if($pd-hori, $pd-hori, 5px);
    padding-right: if($pd-hori, $pd-hori, 0px);
    padding-top: if($pd-vert, $pd-vert, 0px);
    padding-bottom: if($pd-vert, $pd-vert, 0px);

    margin-left: if($mg-hori, $mg-hori, 0px);
    margin-right: if($mg-hori, $mg-hori, 0px);
    margin-top: if($mg-vert, $mg-vert, 5px);
    margin-bottom: if($mg-vert, $mg-vert, 5px);

    border-width: if($bdr-width, $bdr-width, 2px);
    border-color: if($bdr-color, $bdr-color, #ce679a);
    border-style: if($bdr-style, $bdr-style, solid);
    border-radius: if($bdr-radius, $bdr-radius, 12px);

    outline: if($outline, $outline, none);

    &::placeholder {
        font-size: if($font-size, $font-size, 20px);
        font-weight: if($font-weight, $font-weight, 500);

        color: if($color, $color, black);
    }
}
